@media screen and (min-width:170px) and (max-width:992px){
  
  
  
  #page-header {
    background-image: url(../images/img01.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }  
 
  #txt1 {
    
    height: 700px;
    width: 100%;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    
  }
  
  #txt2 {
    height: 1000px;
    width: 100%;
    object-fit: cover;
    
  }

  #txt3 {
    height: 800px;
    
  }

  #txt4{
    height: 660px;
  }

  .col > img {
    object-fit: cover;
    object-position: center;
    justify-content: center;
    margin: 0 auto;
  }

  #confira {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    padding-top: 20px;
  }

  .nav-link {
    font-style: oblique;
    background-color: rgba(165, 81, 42, 0.164);
  }

    

    #icones {
      text-align: center;
      justify-content: center;
    }

    

    #urs > img {
      height: 500px;
      width: 370px;
      justify-content: center;
    }

    .row > a {
      width: 100vw;
      text-decoration: none;
      font-size: 1.4em;
      
  }

    .alink{
      width: 99.8vw;
      text-decoration: none;
      font-size: 2.8em;
  }

    


  .caixas{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-around;
    gap: 20px;
  }

  .itens img {
    flex-basis: auto;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
  }

  

  article > h1 {
    
    
    margin-left: 20%;
   
  }

  

  
}