@media screen and (min-width:320px) and (max-width:992px){
  
  
  cabecalho {
    width: 100vw;
  }
  #page-header {
    background-image: url(../images/img01.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100vw;
  }  

 

  .button {
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(rgb(255, 128, 8), rgb(197, 35, 7));
    border: 3px;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 0px rgb(38, 59, 38);
    transition-duration: .3s;
    font-size: .5em;
   
  }
 
  #txt1 {
    
    height: auto;
    width: 100vw;
    object-fit: cover;
    text-align: justify;
    margin: 0 auto;
    display: flex; 
  }
  
  #txt2 {
    height: 900px;
    width: 100vw;
    object-fit: cover;
    
    
  }

  #txt3 {
    height: auto;
    width: 100vw;
    
  }

  #txt4{
    
    height: auto;
    object-fit: cover;
    text-align: justify;
    margin: 0 auto;
    display: flex;
    object-position: left;
    justify-content: left;
    width: 100vw;
    
  }

  img {
    object-fit: cover;
    text-align: justify;
    margin: 0 auto;
    display: flex;
  
    
   
    
  }

  #confira > img{
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .annie {
    border-radius: 35px;
    object-fit: cover;
    object-position: center;
    justify-content: center;
  }

  .nav-link {
    font-style: oblique;
    background-color: rgba(165, 81, 42, 0.164);
  }

    

    #icones {
      text-align: center;
      justify-content: center;
      width: 100vw;
      
    }

    

    #urs > img {
      
      object-fit: contain;
      object-position: left;
      justify-content: center;
      height: auto;
    }

    .row {
      display: grid;
    }
    .row > a {
      width: 100vw;
      text-decoration: none;
      font-size: 1.4em;
      
  }

    .alink{
      width: 100vw;
      text-decoration: none;
      font-size: 2.8em;
  }

    


  .caixas{
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;
    gap: 20px;
  }

  .itens img {
    flex-basis: auto;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
  }

  

  article > h1 {
    
    
    margin-left: 20%;
   
  }

  #carousel-images{
    object-fit: cover;
    object-position: left;
    justify-content: left;
    margin: 0 auto;
    height: 500px;
    width: auto;
  }
  
  #futer {
    width: auto;
  }
  
}